*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 70px;
    line-height: 90px;
}

h3{
    font-size: 48px;
    font-weight: bold;
    line-height: 65px;
}

p{
    font-size: 19px;
    line-height: 30px;
    color: #737373;
}

.btn{
    background: #FF5959;
    color: #fff;
    padding: 16px 28px;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.my-width{
    width: 80%;
    margin: 0 auto;
}

/* hero section */

.banner-section{
    background-image: linear-gradient(to top, #000000, #00000051), url(./images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text{
    width: 55%;
    text-align: center;
}

.banner-text h1{
    color: #fff;
}

.banner-text p{
    color: #fff;
    padding: 20px 0 30px;
}

/* donate-today section */

.donate-today-section{
    text-align: center;
    padding: 120px 0;
}

.donate-today-text{
    margin: 20px 0 45px;
}

.amount-list h4{
    background: #FAFAFA;
    padding: 40px 20px;
    display: inline-block;
    font-size: 35px;
    border-radius: 10px;
    color: #737373;
    margin: 10px;
}

#selected-amount{
    background: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}

.donate-today-section input{
    display: block;
    margin: 50px auto 30px;
    width: 72%;
    padding: 10px 0;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #DADADA;
    font-size: 20px;
}

/* donate-plan section */

.donate-plan-section{
    text-align: center;
}

.plan-cards{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.plan-card-item{
    flex-basis: 33.33%;
    background: #EDF5F6;
    padding: 50px 30px;
    margin: 12px;
    border-radius: 5px;
}

.plan-card-item h4{
    font-size: 26px;
    margin: 15px 0;
}

.plan-card-item p{
    font-size: 18px;
}

#shelter{
    background: #FFEEEE;
}

#education{
    background: #FFF4D6;
}

/* contact section */

.contact-section{
    text-align: center;
    padding-top: 120px;
    width: 70%;
    margin: 0 auto;
}

#contact-heading{
    margin-bottom: 30px;
}

.contact-section-inner{
    display: flex;
    text-align: start;
}

.contact-form .form-row{
    display: flex;
}

.w-65{
    width: 65%;
}

.contact-form input, textarea{
    padding: 20px 30px 20px 15px;
    width: 100%;
    margin: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 2px;
    outline: none;
}

.contact-form h4{
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}

.contact-form p{
    font-size: 16px;
    margin-left: 10px;
}

.contact-form .btn{
    margin-left: 10px;
    margin-top: 10px;
}

.contact-hotline-card{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hotline-icon{
    width: 60px;
    margin-left: 5px;
}

/* subscription section */

.subscription-section{
    text-align: center;
    padding: 100px 0;
}

.subscription-section p{
    width: 700px;
    margin: 20px auto 50px;
}

.subscribe-card{
    width: 850px;
    margin: 0 auto;
    background: #FFF4D6;
    padding: 80px 10px;
}

#subscribe-input{
    background: #D9D9D9;
    border: none;
    padding: 21px 40px 17px 15px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    outline: none;
    width: 250px;
    font-size: 16px;
    font-weight: 700;
}

#subscribe-btn {
    background: #FF5959;
    color: #fff;
    padding: 13px 32px;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    text-decoration: none;
}

/* footer */

footer{
    background: #0B0D17;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

footer h4{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-weight: 300;
}

footer p{
    font-size: 15px;
    margin-top: 15px;
    color: #c5c5c5;
    color: #c5c5c5;
}